<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucar.crm.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.ucar.crm.domain.Menu">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="text" property="text" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="checked" property="checked" jdbcType="BIT"/>
        <result column="attributes" property="attributes" jdbcType="VARCHAR"/>
        <association property="permission" javaType="com.ucar.crm.domain.Permission" columnPrefix="p_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="resource" column="resource"/>
        </association>
        <collection property="children" column="id"
                    select="com.ucar.crm.mapper.MenuMapper.getChildrenMenu"
                    ofType="com.ucar.crm.domain.Menu"></collection>
    </resultMap>

    <select id="getRootMenu" resultMap="BaseResultMap">
        select * from menu where parent_id is null
  </select>

    <select id="getChildrenMenu" resultMap="BaseResultMap">
        select m.id,m.text,m.attributes,p.id as p_id,p.name as p_name,p.resource as p_resource from menu m
        LEFT JOIN permission p
        on (m.permission_id = p.id)
        WHERE m.parent_id=#{parent_id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.ucar.crm.domain.Menu" useGeneratedKeys="true" keyProperty="id">
    insert into menu (text, state, checked, 
      attributes, parent_id)
    values (#{text,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{checked,jdbcType=BIT}, 
      #{attributes,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.ucar.crm.domain.Menu">
    update menu
    set text = #{text,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      checked = #{checked,jdbcType=BIT},
      attributes = #{attributes,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id, text, state, checked, attributes, parent_id
    from menu
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, text, state, checked, attributes, parent_id
    from menu
  </select>
</mapper>